@using AxadoCarrier.WebApplication.Models
@model CarrierRateViewModel

<script>
    $(function () {
        $('.nav li#carrierRateId').addClass('active');
    });
</script>

<h2>Carrier Rate Details</h2>

<br />

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@Model.Id" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@Model.Name" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@Model.Description" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Rate</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@Model.RateValue" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Rate Description</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@Model.RateDescription" disabled>
        </div>
    </div>
</form>

@Html.ActionLink("Back", MVC.Carrier.ActionNames.Index, MVC.Carrier.Name, new { @class = "btn btn-primary" })
