@using AxadoCarrier.WebApplication.Models.CarrierModels
@model IEnumerable<CarrierViewModel>

<h2>Carriers List</h2>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th width="33%">Code</th>
            <th width="33%">Name</th>
            <th width="33%">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carrier in Model)
        {
            <tr>
                <td>@carrier.Id</td>
                <td>@carrier.Name</td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit",MVC.Carrier.ActionNames.Edit,MVC.Carrier.Name, new { id = carrier.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", MVC.Carrier.ActionNames.Details, MVC.Carrier.Name, new { id = carrier.Id }, new { @class = "btn btn-primary" })
                        <button id="@carrier.Id" class="btn btn-primary btn-delete" data-toggle="modal" data-target="#modal">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

@Html.ActionLink("Create a new carrier", "Create", "Carrier", new { @class = "btn btn-primary" })

@Html.Partial(MVC.Carrier.Views.PartialView.Delete, new CarrierViewModel())